h1{
    text-align: center;
}

/* Horizontal Scroll Menu */

.scrollmenu{
    align-items: center;
    margin: 20px auto;
    width: 40%;
    background-color: black;
    overflow: auto;
    white-space: nowrap;
}

.scrollmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.scrollmenu a:hover{
    background-color: darkgray;
}

/* Vertical Menu */

.vertical-menu{
    background-color: rgba(128, 128, 128, 0.158);
    width: 20%;
    height: 200px;
    overflow-y: auto;
    margin: auto;
}

.vertical-menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
}

.vertical-menu a:hover{
    background-color: gray;
}

.vertical-menu a.active{
    background-color: rgba(0, 128, 0, 0.719);
    color: white;
}

/* Bottom Navigation Bar */

.navbar{
    background-color: black;
    width: 1904px;
    /* height: auto; */
    overflow: hidden;
    position: fixed;
    bottom: 0;
    /* border: 1px solid red; */
}
.navbar a{
    float: left;
    display: block;
    text-decoration: none;
    padding: 18px;
    color: white;
    font-size: 18px;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(184, 174, 174);
    color: black;
}
.navbar a.active{
    background-color: rgb(10, 197, 10);
    color: white;
}

.navbar .icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      bottom:0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }

  /* Bottom Border Nav Links */
  .topnav{
    background-color: rgba(128, 128, 128, 0.356);
    width: 100%;
    /* height: auto; */
    overflow: hidden;
  }
  .topnav a{
    text-decoration: none;
    display: block;
    float: left;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: black;
    border-bottom: 3px solid transparent;
  }
  .topnav a:hover{
    border-bottom: 3px solid red;
  }
  .topnav a.active{
    border-bottom: 3px solid red;
  }

  /* Right Align Menu Links */
  .topnav-left{
    background-color: black;
    overflow: hidden;
    position: relative;
  }
  .topnav-left a{
    display: block;
    float: left;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .topnav-left a:hover{
    background-color: rgb(184, 174, 174);
    color: black;
  }
  .topnav-left a.active{
    background-color: rgb(10, 197, 10);
    color: white;
  }

  .topnav-right{
    float: right;
  }

  .topnav-centered{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Equal Width Navbar Links */

  .navbar-equalWidth{
    background-color: rgba(128, 128, 128, 0.829);
    width: 100%;
    overflow: auto;
  }
  .navbar-equalWidth a{
    box-sizing: border-box;
    float:left;
    text-decoration: none;
    color:white;
    padding:12px;
    font-size: 18px;
    text-align: center;
    width: 25%;
  }
  .navbar-equalWidth a:hover{
    background-color: #000;
  }
  .navbar-equalWidth a.active{
    background-color: #04AA6D;
  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; 
    }
  }